[user]
  name = Markus Karenkewitsch
  email = markusks91@me.com

[push]
	autoSetupRemote = true

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[init]
	defaultBranch = master

[includeIf "gitdir:~/lindcapital"]
  [user]
    email = mso@lindcapital.com
[pull]
	rebase = true
