[user]
  name = Markus Karenkewitsch
  email = markusks91@me.com

[push]
	autoSetupRemote = true

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status

[init]
	defaultBranch = master
	
[pull]
	rebase = true

[includeIf "gitdir:~/aro"]
  [user]
    email = markus@aro.inc
